@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.Vue-Toastification__container,
.Vue-Toastification__toast,
.Vue-Toastification__toast-body,
.Vue-Toastification__toast-component-body,
.my-toast-wrapper,
.my-toast-body {
  font-family: "Poppins", sans-serif !important;
}
.Vue-Toastification__toast {
  @apply !p-0  !bg-transparent !rounded-xl;
}

.Vue-Toastification__close-button,
.Vue-Toastification__icon {
  @apply !hidden;
}
